* {
  font-family: 'VT323', monospace;
}

body {
  background: black;
}

.wrapper {
  padding: 15px; 
  width: 50%;
  display: flex;
  margin: auto;
  margin-top: 5%;
  color: white;
  /* font-family: 'VT323', monospace; */

}

.card {
  width: 100%;
  background-color: black;
}

.card-body {
  background-color: black;
}

.image {
  /* justify-content: center; */
}
